.main {
  &--page {
    width: 100%;
    min-height: 100vh;
    background-color: #edefef;
  }
}

.section {
  &--search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 200px;
    //  border: 1px solid #000;
  }
}
